body{
	
	background-color: black;
}
h1{
	
	color: oldlace;
	margin-left: 30px;

}p{
	color: aqua;
	margin-left: 25px;
}marquee{
	background-color: #46136D;
	width: 700px;
}h2{
	background-color: #FFFFFF;
	width: 700px;
}
